<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="shortcut icon" href="/views/static/img/book-fav-icon.png" type="image/x-icon" />

    <title>Home</title>
</head>

<body>
    <div class="container align-items-center">
        <div class="row">
            <div class="col card text-center">
                <h1>Logo-barra de pesquisa- MENU NAV</h1>
            </div>

        </div>

        <div class="row mt-3">
            <div class="col card text-center">
                <h2>DASHBOARD</h2>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="/views/static/img/usuarios.jpg" alt="usuariosIMG">
                    <div class="card-body">
                        <h5 class="card-title">Usuarios</h5>
                        <p class="card-text">Gerenciar usuarios (listar usuarios, editar ou excluir).</p>
                        <a href="usuarios" class="btn btn-primary">Acessar Usuarios</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="/public/img/acervo.jpg" alt="acervoIMG">
                    <div class="card-body">
                        <h5 class="card-title">Acervo</h5>
                        <p class="card-text">Gerenciar acervo (listar itens, editar ou excluir).</p>
                        <a href="acervo" class="btn btn-primary">Acessar Acervo</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="/views/static/img/livros.jpg" alt="livrosIMG">
                    <div class="card-body">
                        <h5 class="card-title">Emprestimos</h5>
                        <p class="card-text">Gerenciar emprestimo (realizar, renovar).</p>
                        <a href="#" class="btn btn-primary">Acessar Emprestimos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>






</body>
</html>